# Dependências do Node.js
node_modules/
backend/node_modules/
functions/node_modules/

# Arquivos de Segredos e Configuração
.env
*.env
backend/.env
functions/.env

# Logs de Debug
*.log
firebase-debug.log

# Arquivos de Sistema
.DS_Store
Thumbs.db